.postsection{
    width: 50%;
    margin: 0 auto 2% auto;
    background-color: rgba(4, 19, 27, 0.158);
    padding: 2% 2%;
}

.post{
    background-color: white;
    padding: 2% 2%;
    margin-bottom: 3%;
}

.formSection{
    width: 50%;
    margin: 10% auto 0 auto;
    background-color: rgba(4, 19, 27, 0.158);
    padding: 2% 2%;
}

.form-label {
    font-family: 'Roboto', sans-serif;
}

.root{
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.create-post-heading{
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border: 2px solid;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  overflow: hidden;
  position: relative;
  left: 40%;
}

.body-content{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(4, 19, 27, 0.158);
    padding: 5% 5%;
    
}

.welcome-message{
    font-family: 'Bungee Inline', cursive;
    font-size: 40px;
    text-align: center;
}

#button-div{
    display: flex;
    justify-content: center;
}

.extra{
   margin: 2% 2%;
}

.label.summary{
    display: inline;
}
.label-image{
    display: inline;
    width: 6%;
    border-radius: 50%;
}

.admin-option-button{
    width: 100%;
    font-size: 10px;
}

.admin-option-div{
    margin-bottom: 2%;
}


.imgRemove{
    margin-top: 1%;
}